/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

/* règles propre à l'ensemble du document */

html{
    background-color:#FAFAFA;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: white;
	font-family: arial, serif, sans-serif;
	color: #424242;
}

a{
	text-decoration: none;
	color: #424242
}

a:hover{
	color: #FFFFFF;
}

.description a:hover{
	color: #FF7043;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 1.5em;
}

.partie-gauche h3 {
	font-size: 1.5em;
	background-color: #424242;
	color: #FF7043;
	text-align: center;
	padding: 5px 10px 5px 10px;
}

section h3{
	font-size: 1.5em;
	padding: 0px 0px 0px 20px;
}

footer h3{
	font-size: 1.5em;
	padding: 5px 10px 5px 10px;
}

.bloc-loisir h3 {
	background-color: #424242;
	color: #FF7043;
	text-align: center;
}

h4{
	font-weight: bold;
}

span{
	font-weight: bold;
}

header{
	display: flex;
}

/* règles propre au bloc photo à gauche */

.bloc-photo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 10px 10px;
	width: 30%;
	background-color:#FF7043
}

.photo{
	border: 3px #FF5722 solid;
	border-radius: 50%
}

/* règles propre au bloc titre */

.bloc-titre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 25px 0px 25px;
	width: 70%;
}

.prenom{
	color: #FF7043;
}

.souligne{
	border-bottom: 2px solid #FF7043;
}

/* règles propre au contenu principal */

main{
	display: flex;
}

.partie-gauche{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #FF7043;
	padding: 0px;
}

.bloc-contact, .bloc-propos{
	display: flex;
	flex-direction: column;
}

.propos p{
	padding: 0px 0px 10px 0px;
	word-spacing: 1px;
	text-align: justify;
}

.contact, .propos{
	padding: 20px 20px 20px 20px;
}

.p-contact{
	padding: 0px 0px 10px 0px;
}

section{
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 10px 10px 10px 10px;
	width: 70%;
}

.bloc-section{
	padding: 0px 0px 0px 0px;
}

.ligne-section{
	display: flex;
	border-bottom: 2px solid #FF7043;
	margin: 20px 20px 20px 20px;
}

section i{
	font-size: 2em;
	color: #FF7043;
	padding: 0px 0px 5px 0px;
}

article{
	display: flex;
	padding: 20px 20px 20px 20px;
}

article i{
	font-size: 0.8em;
	color: #FF7043;
	padding: 0px 5px 0px 0px;
}

.bloc-annee-lieu{
	display: flex;
	width: 25%;
	font-weight: bold;
	padding: 0px 20px 0px 0px;
}

.bloc-description{
	width: 75%;
}

.description{
	padding: 10px 0px 0px 0px;
}

.description p{
	text-align: justify;
}

.fonction{
	padding: 0px 0px 10px 0px;
	color: #FF7043;
}

/* règles propre au bas de page */

footer{
	display: flex;
}

.bloc-loisir{
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #FF7043;
}

.loisir{
	display: flex;
	justify-content: space-around;
	font-size: 2em;
	color: #424242;
	padding: 20px 20px 20px 20px;
}

.icone-loisir{
	border: 2.5px #424242 solid;
	border-radius: 50%;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.bloc-recommandation{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	width: 70%;
}

.liste-recommandation{
	display: flex;
}

.recommandation{
	width: 50%;
	padding: 10px 10px 10px 10px;
}

.bloc-recommandation i{
	font-size: 2em;
	color: #FF7043;
	padding: 0px 0px 5px 0px;
}

/* règles responsive */

@media all and (max-width: 800px){
	.bloc-titre{
		background-color: #FF7043;
	}
	h1, h2{
		text-align: center;
	}
	.prenom{
		color: #FFFFFF;
	}
	.souligne{
		border-bottom: 2px solid #FFFFFF;
	}
	.partie-gauche {
		flex-direction: row;
		width: 100%;
	}
	.bloc-contact{
		width: 100%;
	}
	.bloc-propos{
		width: 100%;
	}
	main{
		flex-direction: column;
	}
	section{
		width: 100%;
	}
	footer{
		flex-direction: column-reverse;
	}
	.bloc-loisir{
		width: 100%;
	}	
	.bloc-recommandation{
		width: 100%;
	}
}    

@media all and (max-width: 500px){
   header{
	   flex-direction: column;
   }
   .bloc-photo{
		width: 100%;
   }
   .bloc-titre{
	   width: 100%;
	   padding: 0px 0px 20px 0px;
   }
   .partie-gauche{
	   flex-direction: column;
   }
   .liste-recommandation{
	   flex-direction: column;
   }
   article{
	   flex-direction: column;
   }
   .bloc-annee-lieu{
	padding: 0px 0px 10px 0px;
	width: 100%;
   }
   .annee-lieu{
	   display: flex;
	   flex-direction: row;
   }
   .bloc-description{
	   width: 100%;
   }
   .annee{
		padding: 0px 5px 0px 0px;
   }
}